{% extends "base.html" %}
{% block title %}会员列表{% endblock %}
{% block content %}
<div class="jumbotron" id="error">
{% if info %}
   <div class="alert alert-info" role="alert">
      <strong>{{ info }}</strong>
  </div>
{% endif %}
</div>
<div class="jumbotron" id="member">
{% if member_list %}
 <table class="table">
   <thead>
   <form role="from" method="get" class="form-horizontal" action="/member"  >
     <tr>
      <td>#</td>
      <td><input type="submit" value="搜索" class="btn btn-primary"/></td>
       <td><input type='text' name="phone" placeholder="电话" class="form-control"  /></td>
        <td><input type='text' name="name" placeholder="名字" class="form-control"  /></td>
       <td>#</td>
      </tr>
    </form>
     <tr><td>#</td><td>电话</td><td>名字</td><td>余额</td><td>操作</td></tr>
   </thead>
   <tbody>
  {% for member in member_list %}
  	<tr>
  	<td>{{member.id}}</td>
  	<td>{{member.phone}}</td>
  	<td>{{member.name}}</td>
  	<td>{{member.balance}}</td>
    <td><a href="{% url 'member_detail' member.id %}" class="btn btn-primary">充值</a></td>
  	</tr>
  {% endfor %}
 </tbody>
 </table>
 {% endif %}
 <div class="pull-left">
      <ul class="pagination">
            {% if member_list.has_previous %}
                <li><a href="?page={{ member_list.previous_page_number }}">prev</a></li>
            {% endif %}
            <script type="text/javascript">
            for (var i=1;i<={{ member_list.paginator.num_pages }};i++)
            {
             if (i == {{ member_list.number }}) {
                document.write("<li class='active'> <a href='?page=" + i + "'>" + i + "</a></li>");
             } else {
              document.write("<li> <a href='?page=" + i + "'>" + i + "</a></li>");
             }
            }
            </script>
            {% if member_list.has_next %}
               <li> <a href="?page={{ member_list.next_page_number }}">next</a></li>
            {% endif %}
      </ul>
  </div>
</div>
 <hr>
 <a href="{% url 'add_one_member' %}" class="btn btn-info">添加会员</a>
 <form role="form" action="/download_member" method="get" class="form-inline">
   <label>下载会员详细活动统计请点击这里： </label>
   <select name="year" >
     <option value="2016">2016年</option>
     <option value="2017">2017年</option>
     <option value="2018">2018年</option>
     <option value="2019">2019年</option>
   </select>
   <select name="month" >
     <option value="1">1月</option>
     <option value="2">2月</option>
     <option value="3">3月</option>
     <option value="4">4月</option>
     <option value="5">5月</option>
     <option value="6">6月</option>
     <option value="7">7月</option>
     <option value="8">8月</option>
     <option value="9">9月</option>
     <option value="10">10月</option>
     <option value="11">11月</option>
     <option value="12">12月</option>
     <option value="0">全年</option>
   </select>
   <input type="submit" value="下载" class="btn btn-primary"/></form>
{% endblock %}