{% extends "base.html" %}
{% block title %}新建会员{% endblock %}
{% block content %}
<div class="jumbotron" id="#error">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>


<form role="form" action="{% url 'add_one_member' %}" method="post">
{% csrf_token %}
<div class="form-group">
      <label class="col-sm-2 control-label">电话</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" name="phone" placeholder="请输入会员电话" />
      </div>
</div>
<div class="form-group">
      <label  class="col-sm-2 control-label">名字</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" name="name" placeholder="请输入会员名字">
      </div>
</div>
<div class="form-group">
      <label  class="col-sm-2 control-label">性别</label>
      <div class="col-sm-10">
         <!-- Multiple Radios -->
              <input type="radio" value="0" name="sexsual" checked="checked">
              男
              <input type="radio" value="1" name="sexual">
              女
      </div>
</div>
<div class="form-group">
      <label  class="col-sm-2 control-label">余额</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" name="balance" placeholder="请输入余额">
      </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="valide" class="btn btn-primary"/>
    </div>
</div>
</form>
{% endblock %}